// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mapid { height: 400px; }

table, th, td {
  border: 1px solid black;
  }
.center {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.list {
  margin: 180px 300px 100px 500px;
  text-align: center;
}